<h1>Listar Hashtags_tweets</h1>

<table>
  <tr>
    <th>Tweet</th>
    <th>Hashtag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hashtags_tweets.each do |hashtags_tweet| %>
  <tr>
    <td><%= hashtags_tweet.tweet_id %></td>
    <td><%= hashtags_tweet.hashtag_id %></td>
    <td><%= link_to 'Show', hashtags_tweet %></td>
    <td><%= link_to 'Edit', edit_hashtags_tweet_path(hashtags_tweet) %></td>
    <td><%= link_to 'Destroy', hashtags_tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hashtags tweet', new_hashtags_tweet_path %>
