<%= form_for(@tweets_pal_clafe) do |f| %>
  <% if @tweets_pal_clafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweets_pal_clafe.errors.count, "error") %> prohibited this tweets_pal_clafe from being saved:</h2>

      <ul>
      <% @tweets_pal_clafe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tweet_id %><br />
    <%= f.number_field :tweet_id %>
  </div>
  <div class="field">
    <%= f.label :palabra_clave_id %><br />
    <%= f.number_field :palabra_clave_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
