<h1>Listing tweets_pal_claves</h1>

<table>
  <tr>
    <th>Tweet</th>
    <th>Palabra clave</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets_pal_claves.each do |tweets_pal_clafe| %>
  <tr>
    <td><%= tweets_pal_clafe.tweet_id %></td>
    <td><%= tweets_pal_clafe.palabra_clave_id %></td>
    <td><%= link_to 'Show', tweets_pal_clafe %></td>
    <td><%= link_to 'Edit', edit_tweets_pal_clafe_path(tweets_pal_clafe) %></td>
    <td><%= link_to 'Destroy', tweets_pal_clafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweets pal clafe', new_tweets_pal_clafe_path %>
