<%= form_for(@iniciativa) do |f| %>
  <% if @iniciativa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iniciativa.errors.count, "error") %> prohibited this iniciativa from being saved:</h2>

      <ul>
      <% @iniciativa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :iniciativa_nombre %><br />
    <%= f.text_area :iniciativa_nombre %>
  </div>
  <div class="field">
    <%= f.label :iniciativa_tema %><br />
    <%= f.text_area :iniciativa_tema %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
