<h1>Listar Iniciativas</h1>

<table>
  <tr>
    <th>Iniciativa nombre</th>
    <th>Iniciativa tema</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @iniciativas.each do |iniciativa| %>
  <tr>
    <td><%= iniciativa.iniciativa_nombre %></td>
    <td><%= iniciativa.iniciativa_tema %></td>
    <td><%= link_to 'Show', iniciativa %></td>
    <td><%= link_to 'Edit', edit_iniciativa_path(iniciativa) %></td>
    <td><%= link_to 'Destroy', iniciativa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Iniciativa', new_iniciativa_path %>
