<p id="notice"><%= notice %></p>

<p>
  <b>Iniciativa nombre:</b>
  <%= @iniciativa.iniciativa_nombre %>
</p>

<p>
  <b>Iniciativa tema:</b>
  <%= @iniciativa.iniciativa_tema %>
</p>


<%= link_to 'Edit', edit_iniciativa_path(@iniciativa) %> |
<%= link_to 'Back', iniciativas_path %>
