<h1>Listing palabras_claves</h1>

<table>
  <tr>
    <th>Palabra</th>
    <th>Intension</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @palabras_claves.each do |palabras_clafe| %>
  <tr>
    <td><%= palabras_clafe.palabra %></td>
    <td><%= palabras_clafe.intension %></td>
    <td><%= link_to 'Show', palabras_clafe %></td>
    <td><%= link_to 'Edit', edit_palabras_clafe_path(palabras_clafe) %></td>
    <td><%= link_to 'Destroy', palabras_clafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Palabras clave', new_palabras_clafe_path %>
