<p id="notice"><%= notice %></p>

<p>
  <b>Palabra:</b>
  <%= @palabras_clafe.palabra %>
</p>

<p>
  <b>Intension:</b>
  <%= @palabras_clafe.intension %>
</p>


<%= link_to 'Edit', edit_palabras_clafe_path(@palabras_clafe) %> |
<%= link_to 'Back', palabras_claves_path %>
