<h1>Listing palabra_claves</h1>

<table>
  <tr>
    <th>Palabra</th>
    <th>Intension</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @palabra_claves.each do |palabra_clafe| %>
  <tr>
    <td><%= palabra_clafe.palabra %></td>
    <td><%= palabra_clafe.intension %></td>
    <td><%= link_to 'Show', palabra_clafe %></td>
    <td><%= link_to 'Edit', edit_palabra_clafe_path(palabra_clafe) %></td>
    <td><%= link_to 'Destroy', palabra_clafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Palabra clave', new_palabra_clafe_path %>
