<p id="notice"><%= notice %></p>

<p>
  <b>Palabra:</b>
  <%= @palabra_clafe.palabra %>
</p>

<p>
  <b>Intension:</b>
  <%= @palabra_clafe.intension %>
</p>


<%= link_to 'Edit', edit_palabra_clafe_path(@palabra_clafe) %> |
<%= link_to 'Back', palabra_claves_path %>
