<h1>Listar Busquedas</h1>

<table>
  <tr>
    <th>Palabra</th>
    <th>Intension</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @busquedas.each do |busqueda| %>
  <tr>
    <td><%= busqueda.palabra %></td>
    <td><%= busqueda.intension %></td>
    <td><%= link_to 'Show', busqueda %></td>
    <td><%= link_to 'Edit', edit_busqueda_path(busqueda) %></td>
    <td><%= link_to 'Destroy', busqueda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Busqueda', new_busqueda_path %>
