<%= form_for(@localizacion) do |f| %>
  <% if @localizacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@localizacion.errors.count, "error") %> prohibited this localizacion from being saved:</h2>

      <ul>
      <% @localizacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitud %><br />
    <%= f.text_area :latitud %>
  </div>
  <div class="field">
    <%= f.label :longitud %><br />
    <%= f.text_area :longitud %>
  </div>
  <div class="field">
    <%= f.label :lugar %><br />
    <%= f.text_area :lugar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
