<h1>Listar Localizacions</h1>

<table>
  <tr>
    <th>Latitud</th>
    <th>Longitud</th>
    <th>Lugar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @localizacions.each do |localizacion| %>
  <tr>
    <td><%= localizacion.latitud %></td>
    <td><%= localizacion.longitud %></td>
    <td><%= localizacion.lugar %></td>
    <td><%= link_to 'Show', localizacion %></td>
    <td><%= link_to 'Edit', edit_localizacion_path(localizacion) %></td>
    <td><%= link_to 'Destroy', localizacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Localizacion', new_localizacion_path %>
