<p id="notice"><%= notice %></p>

<p>
  <b>Comuna:</b>
  <%= @localizacion.comuna %>
</p>

<p>
  <b>Provincia:</b>
  <%= @localizacion.provincia %>
</p>

<p>
  <b>Region:</b>
  <%= @localizacion.region %>
</p>


<%= link_to 'Edit', edit_localizacion_path(@localizacion) %> |
<%= link_to 'Back', localizacions_path %>
