<p id="notice"><%= notice %></p>

<p>
  <b>Latitud:</b>
  <%= @localizacion.latitud %>
</p>

<p>
  <b>Longitud:</b>
  <%= @localizacion.longitud %>
</p>

<p>
  <b>Lugar:</b>
  <%= @localizacion.lugar %>
</p>


<%= link_to 'Edit', edit_localizacion_path(@localizacion) %> |
<%= link_to 'Back', localizacions_path %>
