<p id="notice"><%= notice %></p>

<p>
  <b>Evento nombre:</b>
  <%= @evento.evento_nombre %>
</p>

<p>
  <b>Fecha:</b>
  <%= @evento.fecha %>
</p>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
