<h1>Listing palabras_buscars</h1>

<table>
  <tr>
    <th>Palabra</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @palabras_buscars.each do |palabras_buscar| %>
  <tr>
    <td><%= palabras_buscar.palabra %></td>
    <td><%= link_to 'Show', palabras_buscar %></td>
    <td><%= link_to 'Edit', edit_palabras_buscar_path(palabras_buscar) %></td>
    <td><%= link_to 'Destroy', palabras_buscar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Palabras buscar', new_palabras_buscar_path %>
