<%= form_for @usuario, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :cuenta_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :cuenta_id, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :nombre, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nick, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :nick, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcion, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :creacion_usuario, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :creacion_usuario, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contador_seguidores, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :contador_seguidores, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                usuarios_path, :class => 'btn' %>
  </div>
<% end %>
