<h1>Listar Leyes</h1>

<table>
  <tr>
    <th>Leyes nombre</th>
    <th>Leyes tema</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leyes.each do |leye| %>
  <tr>
    <td><%= leye.leyes_nombre %></td>
    <td><%= leye.leyes_tema %></td>
    <td><%= link_to 'Show', leye %></td>
    <td><%= link_to 'Edit', edit_leye_path(leye) %></td>
    <td><%= link_to 'Destroy', leye, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Leye', new_leye_path %>
