<p id="notice"><%= notice %></p>

<p>
  <b>Leyes nombre:</b>
  <%= @leye.leyes_nombre %>
</p>

<p>
  <b>Leyes tema:</b>
  <%= @leye.leyes_tema %>
</p>


<%= link_to 'Edit', edit_leye_path(@leye) %> |
<%= link_to 'Back', leyes_path %>
