<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @leye.nombre %>
</p>

<p>
  <b>Tema:</b>
  <%= @leye.tema %>
</p>


<%= link_to 'Edit', edit_leye_path(@leye) %> |
<%= link_to 'Back', leyes_path %>
